In [1]:
import pandas as pd
import numpy as np

value = pd.read_csv("nhl-logos.csv")

In [19]:
value.head()

,Year,City,Valuation,Mascot,espn_logo
0,2022.0,CAR,"640,000,000",Hurricanes,https://a.espncdn.com/i/teamlogos/nhl/500/car.png
1,2022.0,CHI,"1,500,000",Blackhawks,https://a.espncdn.com/i/teamlogos/nhl/500/chi.png
2,2022.0,CBJ,"620,000,000",Blue Jackets,https://a.espncdn.com/i/teamlogos/nhl/500/cbj.png
3,2022.0,DAL,"925,000,000",Stars,https://a.espncdn.com/i/teamlogos/nhl/500/dal.png
4,2022.0,DET,"1,030,000,00",Red Wings,https://a.espncdn.com/i/teamlogos/nhl/500/det.png

In [20]:
value.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       94 non-null     float64
 1   City       97 non-null     object
 2   Valuation  93 non-null     object
 3   Mascot     97 non-null     object
 4   espn_logo  97 non-null     object
dtypes: float64(1), object(4)
memory usage: 3.9+ KB

In [21]:
value.dropna(axis=0, inplace=True)

In [22]:
value["Year"] = value["Year"].astype(int)

In [23]:
value.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93 entries, 0 to 95
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       93 non-null     int32
 1   City       93 non-null     object
 2   Valuation  93 non-null     object
 3   Mascot     93 non-null     object
 4   espn_logo  93 non-null     object
dtypes: int32(1), object(4)
memory usage: 4.0+ KB

In [24]:
value2 = value.copy()

In [26]:
value2["Valuation"] = value2["Valuation"].str.replace(",", "")

In [28]:
value2["Valuation"] = value2["Valuation"].astype(np.int64)

In [20]:
value2.to_csv("valuation.csv")

In [29]:
worth = pd.read_csv("valuation.csv")

In [30]:
worth["Valuation"] = worth["Valuation"].str.replace(",", "")

In [31]:
worth

,Unnamed: 0,Year,City,Valuation,Mascot,espn_logo
0,0,2022,CAR,640000000,Hurricanes,https://a.espncdn.com/i/teamlogos/nhl/500/car.png
1,1,2022,CHI,1500000000,Blackhawks,https://a.espncdn.com/i/teamlogos/nhl/500/chi.png
2,2,2022,CBJ,620000000,Blue Jackets,https://a.espncdn.com/i/teamlogos/nhl/500/cbj.png
3,3,2022,DAL,925000000,Stars,https://a.espncdn.com/i/teamlogos/nhl/500/dal.png
4,4,2022,DET,1030000000,Red Wings,https://a.espncdn.com/i/teamlogos/nhl/500/det.png
...,...,...,...,...,...,...
88,91,2017,LAK,750000000,Kings,https://a.espncdn.com/i/teamlogos/nhl/500/la.png
89,92,2017,MIN,440000000,Wild,https://a.espncdn.com/i/teamlogos/nhl/500/min.png
90,93,2017,SJS,490000000,Sharks,https://a.espncdn.com/i/teamlogos/nhl/500/sj.png
91,94,2017,STL,450000000,Blues,https://a.espncdn.com/i/teamlogos/nhl/500/stl.png
92,95,2017,VGK,500000000,Golden Knights,https://a.espncdn.com/i/teamlogos/nhl/500/vgs.png

In [35]:
worth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  93 non-null     int64
 1   Year        93 non-null     int64
 2   City        93 non-null     object
 3   Valuation   93 non-null     object
 4   Mascot      93 non-null     object
 5   espn_logo   93 non-null     object
dtypes: int64(2), object(4)
memory usage: 4.5+ KB

In [32]:
worth.drop("Unnamed: 0", axis=1, inplace=True)

In [35]:
worth3 = worth.copy()

In [40]:
worth3["Valuation"] = worth3["Valuation"].astype(np.int64)

In [41]:
worth3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       93 non-null     int64
 1   City       93 non-null     object
 2   Valuation  93 non-null     int64
 3   Mascot     93 non-null     object
 4   espn_logo  93 non-null     object
dtypes: int64(2), object(3)
memory usage: 3.8+ KB

In [42]:
worth3["Yearly_Rank"] = worth3.groupby("Year")["Valuation"].rank(ascending=False)

In [43]:
worth3["Yearly_Rank"] = worth3["Yearly_Rank"].astype(int)

In [46]:
worth3[worth3["Year"] == 2012].sort_values("Yearly_Rank")

,Year,City,Valuation,Mascot,espn_logo,Yearly_Rank
52,2012,TOR,1000000000,Maple Leafs,https://a.espncdn.com/i/teamlogos/nhl/500/tor.png,1
43,2012,NYR,750000000,Rangers,https://a.espncdn.com/i/teamlogos/nhl/500/nyr.png,2
50,2012,MTL,575000000,Canadiens,https://a.espncdn.com/i/teamlogos/nhl/500/mtl.png,3
33,2012,CHI,350000000,Blackhawks,https://a.espncdn.com/i/teamlogos/nhl/500/chi.png,4
40,2012,BOS,348000000,Bruins,https://a.espncdn.com/i/teamlogos/nhl/500/bos.png,5
36,2012,DET,346000000,Red Wings,https://a.espncdn.com/i/teamlogos/nhl/500/det.png,6
53,2012,VAN,342000000,Canucks,https://a.espncdn.com/i/teamlogos/nhl/500/van.png,7
45,2012,PHI,336000000,Flyers,https://a.espncdn.com/i/teamlogos/nhl/500/phi.png,8
46,2012,PIT,288000000,Penguins,https://a.espncdn.com/i/teamlogos/nhl/500/pit.png,9
58,2012,LAK,276000000,Kings,https://a.espncdn.com/i/teamlogos/nhl/500/la.png,10
47,2012,WSH,250000000,Capitals,https://a.espncdn.com/i/teamlogos/nhl/500/wsh.png,11
48,2012,CAL,245000000,Flames,https://a.espncdn.com/i/teamlogos/nhl/500/cgy.png,12
35,2012,DAL,240000000,Stars,https://a.espncdn.com/i/teamlogos/nhl/500/dal.png,13
49,2012,EDM,225000000,Oilers,https://a.espncdn.com/i/teamlogos/nhl/500/edm.png,14
60,2012,SJS,223000000,Sharks,https://a.espncdn.com/i/teamlogos/nhl/500/sj.png,15
51,2012,OTT,220000000,Senators,https://a.espncdn.com/i/teamlogos/nhl/500/ott.png,16
59,2012,MIN,218000000,Wild,https://a.espncdn.com/i/teamlogos/nhl/500/min.png,17
57,2012,COL,210000000,Avalanche,https://a.espncdn.com/i/teamlogos/nhl/500/col.png,18
42,2012,NJD,205000000,Devils,https://a.espncdn.com/i/teamlogos/nhl/500/nj.png,19
54,2012,WPG,200000000,Jets,https://a.espncdn.com/i/teamlogos/nhl/500/wpg.png,20
55,2012,ANA,192000000,Ducks,https://a.espncdn.com/i/teamlogos/nhl/500/ana.png,21
41,2012,BUF,175000000,Sabres,https://a.espncdn.com/i/teamlogos/nhl/500/buf.png,22
39,2012,TBL,174000000,Lightning,https://a.espncdn.com/i/teamlogos/nhl/500/tb.png,23
37,2012,FLA,170000000,Panthers,https://a.espncdn.com/i/teamlogos/nhl/500/fla.png,24
38,2012,NSH,167000000,Predators,https://a.espncdn.com/i/teamlogos/nhl/500/nsh.png,25
32,2012,CAR,162000000,Hurricanes,https://a.espncdn.com/i/teamlogos/nhl/500/car.png,26
44,2012,NYI,155000000,Islanders,https://a.espncdn.com/i/teamlogos/nhl/500/nyi.png,27
34,2012,CBJ,145000000,Blue Jackets,https://a.espncdn.com/i/teamlogos/nhl/500/cbj.png,28
56,2012,ARI,134000000,Coyotes,https://a.espncdn.com/i/teamlogos/nhl/500/ari.png,29
61,2012,STL,130000000,Blues,https://a.espncdn.com/i/teamlogos/nhl/500/stl.png,30

In [47]:
worth3.to_csv("Valuation2.csv")

In [49]:
worth4 = worth3.copy()

In [63]:
worth4["previous_value_2"] = worth4.groupby("City")["Valuation"].shift(-1)

In [3]:
valuations = pd.read_csv("Valuation2.csv")

In [5]:
valuations.drop("Unnamed: 0", axis=1, inplace=True)

In [7]:
valuations2 = valuations.copy()

In [10]:
valuations2 = valuations2.sort_values("Year", ascending=False)

In [14]:
valuations2["previous_valuation2"] = valuations2.groupby("City")["Valuation"].shift(-1)

In [19]:
valuations2["previous_valuation2"] = valuations2["previous_valuation2"].astype(np.int64)

In [18]:
valuations2["previous_valuation2"] = valuations2["previous_valuation2"].fillna(0)

In [21]:
valuations2.drop("previous_valuation",axis=1, inplace=True)

In [26]:
valuations3 = valuations2.copy()

In [28]:
valuations3["5_Year_Change"] = (valuations3["Valuation"] - valuations3["previous_valuation2"])/valuations3["previous_valuation2"]

In [37]:
valuations3["5_Year_Change"] = valuations3["5_Year_Change"].replace(inf, 0)

NameError: name 'inf' is not defined

In [39]:
valuations3["5_Year_Change"] = (valuations3["5_Year_Change"] * 100).round(2)

In [41]:
valuations4 = valuations3.copy()

In [42]:
valuations4.replace([np.inf, -np.inf], np.nan, inplace=True)

In [44]:
valuations4.to_csv("NHL_Valuations.csv")

In [1]:
import numpy as np
import pandas as pd

value_df = pd.read_csv("NHL_Valuations.csv")

In [3]:
value_df["Growth Rank"] = value_df.groupby("Year")["5_Year_Change"].rank(method="min", ascending=False)

In [5]:
value_df.to_csv("NHL_Valuations2.csv")